
.logo img {
    position: absolute;
    top: 1vw;
    left: 1vw;
    width: 5vw;
}

.logo p{
    position: absolute;
    top: 1vw;
    left: 6vw;
    font-size: 1.7vw;
    color: rgb(255, 255, 255);
    font-family: Herculanum;
}
.favourites p{
    position: absolute;
    top: 1vw;
    right: 5vw;
    font-size: 1.3vw;
    color: rgb(255, 255, 255);
    font-family: "Helvetica Neue";
}
.favourites img{
    position: absolute;
    top: 1.2vw;
    right: 3vw;
    width: 1.2vw;
}
.searchbox img{
    position: absolute;
    top: 4vw;
    right: 3vw;
    width: 25vw;
}

.popular p , .touristheading{
    text-align: center;
    font-size: 5vw;
    color: rgb(25, 133, 147);
    font-family: Herculanum;
}
/* .popular .places table td {
    background-image: url(/img/popularbg.png);
    width: 100%;
} */

.scroll{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20% 20% 20% 20% 20% ;
}
.s1 img{
  
    position: relative;
    top: 1vw;
    left: 3vw;
    height: 20vw;
    width: 78%;
}

/* touristheading */
.touristall{
    display: flex;
    padding-left: 10%;
    padding-bottom:5%;
    justify-content: space-between;
}
.tourist{
    width: 50vw;
}
.tourist img{
    width: 80%;
}
.tourist .like{
    width: 10%;
}
.tourist p{
    font-size: 1.4vw;
    font-family: "Helvetica Neue";
    color: rgb(25, 133, 147);
}
.tourist .like{
    position: relative;
    bottom: 27vw;
    left: 31vw;
}
.tourist .title{
    font-size: 1.8vw;
    font-family: Spartan;
    color: rgb(25, 133, 147);
}



/* footer */

.footlogo img {
    width: 5vw;
}

.footlogo p{
    position: relative;
    top:-5vw;
    left: 6vw;
    font-size: 1.7vw;
    color: rgb(25, 133, 147);
    font-family: Herculanum;
    width: 10%;
}
.footer .copyright{
    font-size: 1.8vw;
    font-family: "Helvetica Neue";
    color: rgb(25, 133, 147);
    width: 35vw;
    position: relative;
    bottom: 11vw;
    left: 65vw;
    font-weight:lighter;
}
.misc{
    position: relative;
    left: 25vw;
    bottom: 10vw;

    display: flex;
    width:30%;
    justify-content: space-between;
    font-size: 1.4vw;
    font-family: "Helvetica Neue";
    color: rgb(25, 133, 147);
    font-weight:bold;
}

.region{
    position: relative;
   
    bottom: 10vw;

    
    justify-content: space-between;
    font-size: 1.4vw;
    font-family: "Helvetica Neue";
    color: rgb(25, 133, 147);
    font-weight:300;
}
.footline{
    position: relative;
    width: 90%;
    bottom: 10vw;
    left: 7vw;
}
.footer{
    background-color: rgb(217, 212, 205);
}